.signup-main {
    font-family: 'Quando', serif;
    color: white;
    font-weight: 300;
    font-size: 35px;
}

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-box {
    height: 250px;
    width: 100vw;
    background-color: #000000b0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-title {
    margin-bottom: 40px;
}

.signup-input {
    background-color: transparent;
    margin: 5px 0;
    border: none;
    border-bottom: 2px solid white;
    font-size: 12px;
    width: 225px;
    color: white;
}

.submit-signup-button {
    color: white;
    background-color: #455465;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Judson', serif;
    width: 225px;
}

@media(min-width: 725px) {
    .signup-box {
        height: 300px;
    }
    .signup-main {
        font-size: 40px;
    }
    .signup-title {
        margin-top: 10px;
    }
    .signup-input {
        font-size: 16px;
        width: 300px;
    }
    .submit-signup-button {
        width: 300px;
        font-size: 18px;
    }
}