.testing-data-container {
    background-color: #FBFBFBce;
    color: black;
    padding-bottom: 20px;
}

.import-page-display {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload-title {
    width: 90%;
}

.upload-title-2 {
    width: 90%;
    font-size: 18px;
    font-weight: 500;
}

.upload-title-3 {
    width: 90%;
}

.upload-outcome-container {
    display: flex;
    margin-top: 20px;
    width: 80%;
}

.upload-outcome-container-2 {
    display: flex;
    margin-top: 20px;
    width: 80%;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upload-data-container {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    width: 80%;
}

.upload-category-input-box {
    display: flex;
    margin-top: 2px;
}

.upload-data-categories {
    margin-top: 5px;
    text-align: left;
    width: 100px;
    font-weight: 600;
}

.upload-data-inputs {
    text-align: left;
    width: 60%;
}

.upload-data-inputs-2 {
    text-align: left;
    width: 100%;
    height: 150px;
    background-color: #FBFBFBce;
}

.upload-data-button {
    margin-top: 15px;
    margin-bottom: 20px;
    width: 50%;
}

.upload-data-button-2 {
    margin-bottom: 20px;
    width: 50%;
    background-color: #727C8D82;
    color: black;
}

.upload-data-button-3 {
    margin-top: 40px;
    margin-bottom: 20px;
    width: 50%;
    background-color: #727C8D82;
    color: black;
}

.previous-next-button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 40px;
}

.next-previous-buttons {
    color: white;
    background-color: #455465;
    margin: 0 20px;
    font-family: 'Judson', serif;
    width: 90%;
}

@media(min-width: 725px) {
    .upload-title {
        width: 70%;
    }
    .upload-outcome-container {
        display: flex;
        justify-content: flex-start;
        width: 60%;
    }
    .upload-data-container {
        width: 60%;
        margin-bottom: 30px;
    }
    .upload-data-categories {
        margin-top: 20px;
        font-size: 24px;
        width: 150px;
    }
    .upload-data-button-2 {
        margin-top: 0;
        margin-bottom: 30px;
    }
    .upload-title {
        font-size: 35px;
    }
    .upload-title-2 {
        margin-top: 40px;
        width: 70%;
        font-size: 20px;
        font-weight: 500;
    }
    .upload-title-3 {
        width: 90%;
    }
  }