.background-container {
  background-image: url('https://images.unsplash.com/photo-1478728073286-db190d3d8ce6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
}

.background-overlay {
  background-color: #0000006b;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  min-height: 100vh;
}

.main-block {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-model-block {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.nav-bar, .main-block, .main-model-block, .footer-container {
  flex-shrink: 0;
}

.nav-bar {
    width: 100vw;
    height: 60px;
    background-color: #fc8b0ace;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    color: white;
    font-size: 20px;
    margin: 0 10px
  }
  
  .button-container {
    margin: 0 10px;
  }
  
  .nav-button {
    margin: 0 0 0 20px;
    font-family: 'Judson', serif;
    font-size: 12px;
    color: white;
    border-radius: 5px;
    border: 1px solid white;
    background-color: transparent;
  }

  .home-main {
    font-family: 'Quando', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
  }

  .home-intro {
    font-weight: 600;
    font-size: 40px;
  }

  .home-intro-blocks {
    margin-top: 12px;
  }

  .tf-logo-container {
    margin: 20px 0;
    background-color: #FBFBFBce;
    width: 100vw;
    height: 150px;
    display: flex;
    justify-content: center;
  }

  .tf-logo {
    width: 300px;
  }

  img {
    filter: grayscale(100%);
  }

  .home-content {
    font-family: 'Judson', serif;
    font-size: 18px;
    margin-top: 40px;
  }

  .footer-container {
    height: 40px;
    width: 100vw;
    background-color: #fc8b0ace;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;
  }
