.home-nav-bar {
    width: 100vw;
    height: 60px;
    background-color: grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    color: white;
    font-size: 20px;
    margin: 0 10px
  }
  
  .button-container {
    margin: 0 10px;
  }
  
  .home-button {
    margin: 0 0 0 20px;
    background-color: white;
  }