.login-main {
    font-family: 'Quando', serif;
    color: white;
    font-weight: 300;
    font-size: 35px;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    height: 250px;
    width: 100vw;
    background-color: #000000b0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-title {
    margin-bottom: 40px;
}

.login-input {
    background-color: transparent;
    margin: 5px 0;
    border: none;
    border-bottom: 2px solid white;
    font-size: 12px;
    width: 225px;
    color: white;
}

.submit-login-button {
    color: white;
    background-color: #455465;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Judson', serif;
    width: 225px;
}