.test-model-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.test-model-title-adj {
    margin-bottom: 50px;
    margin-top: 30px;
    font-size: 26px;
    text-align: center;
    color: black;
    font-weight: 600;
    font-family: 'Judson', serif;
    width: 95%;
}

.scenario-title-adj {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    color: black;
    font-weight: 600;
    font-family: 'Judson', serif;
    font-size: 24px;
    width: 90%;
}

.test-model-button {
    color: white;
    background-color: #FC8D0A;
    font-family: 'Judson', serif;
    margin-top: 25px;
    width: 50%;
}

.back-to-input-button-container {
    display: flex;
    justify-content: center;
}

.back-to-input-button {
    color: white;
    background-color: #455465;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Judson', serif;
    width: 40%;
}

.testing-data-container-results {
    background-color: #000000b0;
    color: black;
    padding-bottom: 20px;
    color: white;
    width: 100vw;
}

.results-container {
    color: white;
}

.scenario-title-adj-2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 26px;
}


.scenario-title-adj-3 {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 30px;
    color: white;
}

.scenario-title-adj-4 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 20px;
    color: white;
    font-weight: 500;
}

.scenario-title-adj-5 {
    margin-top: 80px;
    margin-bottom: 5px;
    font-size: 20px;
    color: white;
    font-weight: 500;
}

.test-category-values {
    margin-top: 5px;
    text-align: left;
    width: 30%;
    font-weight: 300;
    font-size: 20px;
}

.outcome-probability-container {
    font-size: 20px;
    display: flex;
    align-items: flex-end;
}

.outcome-probability {
    margin-left: 10px;
    margin-right: 2px;
    font-size: 40px;
    font-weight: 800;
    color: #FC8D0A;
}

.outcome-results-text {
    font-size: 20px;
    margin-top: 8px;
}

.desired-outcome {
    font-size: 30px;
    margin-top: 5px;
    font-weight: 800;
    color: #FC8D0A;
}

.outcome-buttons {
    color: white;
    background-color: #FC8D0Ace;
    margin: 0 20px;
    font-family: 'Judson', serif;
    width: 90%;
    font-weight: 600;
}

.test-parameter-display-adj {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.test-category-display {
    margin-top: 5px;
    text-align: left;
    width: 120px;
    font-weight: 600;
    font-size: 20px;
}

@media(min-width: 725px) {
    .test-model-title-adj {
        width: 100vw;
    }
    .test-model-title-adj {
        margin-bottom: 50px;
        margin-top: 40px;
        font-size: 36px;
        width: 90%;
    }
    .scenario-title-adj {
        font-size: 30px;
        width: 90%;
    }
    .test-model-button {
        font-size: 18px;
        margin-top: 30px;
        margin-bottom: 10px;
        width: 40%;
    }
    .back-to-input-button {
        font-size: 18px;
        margin-top: 30px;
    }
    .outcome-buttons {
        font-size: 18px;
        margin-top: 10px;
    }
    .outcome-probability-container {
        font-size: 30px;
        display: flex;
        align-items: flex-end;
    }
    .outcome-results-text {
        font-size: 30px;
    }
    .outcome-probability {
        font-size: 50px;
    }
    .desired-outcome {
        font-size: 50px;
        margin-bottom: 20px;
    }
  }